
body article{
    background-color: #F5F5F5;
    color: #3F2860;
    font-family: Verdana, Arial, sans-serif;}

h1{
    background-color: #9BC1C2;
    background-image: url(lilyheader.jpg);
    background-repeat: no-repeat;
    background-position: right;
    height: 150px;
}
#hero {
    text-align: center;
}
img {
    padding: 1em;
}
nav {
    text-align: center;
    font-weight: bold;
    padding: 1em;
}
nav a{
    text-decoration: none;
}
.studio{
    font-style: italic;
}
footer {
    padding: 1em;
    background-color: #9BC1C2;
    font-size: .60em;
    font-style: italic;
    text-align: center;
}
body{
    background-color: #3F2860;
    color: #666666;
    font-family: Verdana, Arial, sans-serif;
    padding-right: 2em;
    display: block;
}
#wrapper {
    background-color: #F5F5F5;
    min-width: 1000px;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}