
body{
    background-image: url(background.jpg);
    background-color: #FFFFFF;
    color: #666666;
    font-family: Verdana, Arial, sans-serif;
}
header{
    display: block;
    background-color: #000033;
    color: #FFFFFF;
    font-family: Verdana, Arial, sans-serif;
}
h1{
    line-height: 200%;
    background-image: url(sunset.jpg);
    background-repeat: no-repeat;
    background-position: right;
    padding-left: 20px;
    min-height: 72px;
    margin-bottom: 0;
}
h2{
    color: #3399CC;
    font-family: Georgia, sans-serif;
}
h3 {
    color: #000033;
}
main {
    background-color: #FFFFFF;
    margin-left: 170px;
    padding-top: 1px;
    padding-bottom: 1px;
    display: block;
}
article{
    padding-left: 5px;
}
#homehero {
    min-height: 300px;
    background-image: url(coast.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#yurthero {
    min-height: 300px;
    background-image: url(yurt.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#trailhero {
    min-height: 300px;
    background-image: url(trail.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
nav a:hover {
    color: #FFFFFF;
}
nav a:visited {
    color: #344873;
}
nav a:unvisited {
    color: #000033;
}
nav ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
nav{
    display: block;
    font-weight: bold;
    float:left;
    width: 160px;
    padding-top: 20px;
    padding-right: 5px;
    padding-bottom: 0px;
    padding-left: 20px;
}
nav a {
    text-decoration: none;
}
dt{
    color: #000033;
    font-style: bold;
}
.resort{
    color: #000033;
    font-size: 1.2em;
}
footer {
    display: block;
    font-size: .70em;
    font-style: italic;
    text-align: center;
    padding: 10px;
    margin-left: 170px;
    background-color: #FFFFFF;
}
box-sizing: border-box{
    box-sizing: border-box;
}
#wrapper {
    background-color: #90C7E3;
    min-width: 700px;
    max-width: 1024px;
    box-shadow: 700px 1024px #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}




#mobile { display: none; }
#desktop { display: inline; }

@media only screen and (max-width: 1024px) {
    body{
        margin: 0px;
        padding: 0px;
        background-image: none;
    }
    #wrapper{
        width: auto;
        min-width: 0px;
        margin: 0px;
        box-shadow: none;
    }
    h1{
        margin: 0px;
    }
    nav{
        float: none;
        width: auto;
        padding: 0.5em;
    }
    nav li{
        display: inline-block;
    }
    nav a{
        padding: 1em;
    }
    main{
        padding: 1em;
        margin-left: 0px;
        font-size: 90%;
    }
    footer{
        margin: 0px;
    }
    #homehero{
        margin-left: 0px;
    }
    #yurthero{
        margin-left: 0px;
    }
    #trailhero{
        margin-left: 0px;
    }
}
@media only all and (max-width: 768px) {
    h1{
        height: 100%;
        font-size: 1.5em;
        padding-left: 0.3em;
    }
    nav{
        padding: 0px;
    }
    nav a{
        display: block;
        padding: 0.2em;
        font-size: 1.3em;
        border-bottom: 1px solid #330000;
    }
    nav ul{
        margin: 0px;
        padding: 0px;
    }
    nav il{
        display: block;
        margin: 0px;
        padding: 0px;
    }
    main{
        padding-top: 0.1em;
        padding-right: 0.6em;
        padding-bottom: 0.1em;
        padding-left: 0.4em;
    }
    #homehero{
        display: none;
    }
    #yurthero{
        display: none;
    }
    #trailhero{
        display: none;
    }
    footer{
        padding: 0px;
    }
    #mobile { display: inline; }
    #desktop { display: none; }
}











